*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    /* o elemento body passa aqui a ser um flex container assim como todos os filhos dentro 
    dele, passam a ser flex items. Alinha todos os elementos, dentro do body em linha */
    display: flex;
    justify-content: center;
}
.instagram-wrapper{
    display: flex;
    /* Com essa definição -> align-items: center, faço o alinhamento da vertical 
    do eixo Y ao centro, os elementos são alinhados no eixo Y ao centro*/    
    align-items: center;
    /* justify-content-> mas conhecido como alinhamento no eixo X, alinho
    os elementos ao centro */
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    /* Dispõe os itens no eixo X */
    display: flex;
    /* Alinha os itens no eixo Y */
    align-items: center;
    /* cria um espaçamento entre os elementos no eixo X*/
    justify-content: space-around;
    /* Os itens ficam em uma única coluna um abaixo do outro */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    /* Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início 
    e o último no final. */
    justify-content: space-between;
    /* Alinha os itens no eixo do Flex no centro */
    align-items: center;
    /* Dispões os itens no eixo Y */
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.group:nth-child(1){
    min-height: 19rem;
}
.instagram-logo{
    height: 3rem;
}
.profile-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* overflow: hidden, para ocultar as margens da figura que exceder a div, por decorrência
    do border-radius */
    overflow: hidden;
    
}
.profile-photo img{
    height: 6rem;
}